.box-head {
    text-align: center;
    font-family: "Verdana";
}

#div2 {
    font-family: "Verdana";
    display: flex;
    margin: 0 auto;     
    background-color: #eff5f3;
    justify-content: center;
    width: 370px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    margin-top: 250px;   
    padding-top:10px;
    padding-bottom: 20px;
}

#submit {
    cursor: pointer;
}